extends ./layout/index

block contenido
  main.container.mt-5
    h1.text-center.mt-5 #{pagina}
    blockquote.text-center Lee sobre nuestros clientes y sus experiencias
    .row.testimoniales
      each testimonial in testimoniales
        .col-md-6.col-lg-4.mb-4
          .card
            .card-body
              blockquote.blockquote
                p.mb-0
                  |#{testimonial.mensaje}
                footer.blockquote-footer
                  |#{testimonial.nombre}


    .row
      .col-md-12
        h2.d-block.w-100.text-center Agrega un testimonial
        if(errores)
          each error in errores
            .alert.col.alert-danger.text-center= error.mensaje
      .row.justify-content-center.col
        .col-md-8 
          form(action="/testimoniales" method="POST")
            .from-group
              label(for="nombre") Nombre
              input#nombre(value = nombre, type="text", placeholder="Tu nombre", name="nombre", class="form-control")
            .from-group
              label(for="correo") Correo Electrónico
              input#correo(value= correo, type="text", placeholder="Tu correo", name="correo", class="form-control")
            .from-group
              label(for="mensaje") Mensaje
              textarea#mensaje(value= mensaje, class="form-control", name="mensaje", placeholder="Tu mensaje", rows=3)= mensaje

            input.btn.btn-success.btn-block.mt-2(type="submit")